* {
    box-sizing: border-box;
}

input[type=text],input[type=email], select, textarea{
width:100%;
padding: 12px;
border:1px;
border-radius:4px;
resize:both;
}

label{
    padding: 12px 12px 12px 0;
    display:inline-block;
}

input[type=submit]{
    float:right;
    padding: 12px 20px;
    border: none;
    background-color: blue;
    color:white;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: rgba(80,80, 234,0.776);

}

.container {
    background-color: #a8ced2;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
}

.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75{
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

body {
background-color: lightskyblue;
}

footer{
    text-align: center;

}